* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.root {
  min-width: 100vw;
  min-height: 100vh;
  background-image: url(./4d698eb2-ccc5-4e22-8b04-885cd4a9c26b.jpg);
  background-size: contain;
}
.circle {
  position: absolute;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
  user-select: none;
}
#counter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
